<!-- MISION: MOSTRAR FORMULARIO DE CREACION -->

<!-- Titulo -->
<h1>Crear Tema</h1>

<!-- Formulario de Ediccion -->
<form action="/topics" method="POST">
    <input name="title" placeholder="Titulo">
    <textarea name="description"></textarea>

    <!-- Enviar Datos Del Formulario De Creacion -->
    <button>Crear</button>
</form>